/* Asembly Line  */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}

.main>h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #333;
}

.inner {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.inner>hr {
    width: 80%;
    border: 1px solid #ccc;
}

.input {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.5rem 0;
}


.input>input {
    min-width: 300px;
    height: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.input>label {
    padding: 0 0.5rem;
    font-size: 1rem;
    color: #333;
}

.stages {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    margin: 0.5rem 0;
}

.stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #fff;
    padding: 0 20px;
}

.item {
    border:  2px solid gold;
    border-radius: 0.25rem;
    padding: 0px 8px;
    margin: 0.5rem 0;
    cursor: pointer;
}
.item:hover {
    background-color: #f5f5f5;
}